@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

h1,h2,h3,h4,a,label,p,li{
    font-family: 'Baloo Tamma 2', cursive;
    font-style: normal;
}

#menu li a:hover{
    color:#0074b9
}
.centralizar{
    justify-content: center;
    display: flex;
}
nav {
    width: 100%;
    background-color: #d45f68;
    position: fixed;
    top: 0;
    z-index: 100;
 }
 
 nav ul{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    margin-right: 400px;
    list-style: none

 }
 
 nav a{
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14pt;
 }

#logoGen{
    width: 80px;
    height: 40px;
    margin-right: 500px;
}
#sobreGen{
    margin-top: 80px;
}
.td-sg{
    display: flex;
    background-image: linear-gradient(to top,#ffffff,#0074b9)   ;
}
#txtGen{
    margin-right: 10px;
    margin-left:20px;

}
#videoGen{
    margin-left: 20px;
    margin-right: 50px;
}
#controlGen{
    align-items: center;
    display: flex;
    justify-content: flex-start;
}
#td-sc{
    margin-top: 60px;
}
#controleCurso{

    align-items: center;
    display: flex;
    justify-content: space-around;
}
.editMargintxt{
    margin-right: 10px;
}
.editMarginVideo{
 
   margin-left: 20px;
    margin-right: 50px;
}
#Curri-organiza{
    align-items: center;
    display: flex;
    justify-content: space-around;
}
ul li{
    list-style: none
}
.ridge{
    border-style:ridge;
    border-width: medium;
    justify-content:center;
}
h4{
    display: flex;
    justify-content: center;
}
.centro{
    margin-right: 50px;
}
.txtAument{
    display: flex;
    justify-content: center;
    font-size: 18pt;
}
.margemTopo{
    margin-top: 70px;
    background-image: linear-gradient( rgb(212, 95, 104, 1.0),  rgba(219, 195, 197, 0.9) );
    color: #ffffff;

    
     
}
